*.class
*.log
.project/NexusConf.scala
# sbt specific
.idea/
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
/project/NexusConf.scala
project/NexusConf.scala
# Scala-IDE specific
.scala_dependencies
.worksheet
